<div class="row">
    <div class="col-md-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Data Filter
            </div>
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="form-group form-group-sm">
                        <label for="inputEmail3" class="col-sm-3 control-label">Table</label>
                        <div class="col-sm-9">
                        <input id="tables" placeholder="Select Table">
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="inputPassword3" class="col-sm-3 control-label">Search</label>
                        <div class="col-sm-9">
                        <input type="text" class="form-control" id="search" placeholder="search">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button type="submit" class="btn btn-sm btn-default">Refresh</button>
                            <button type="submit" class="btn btn-sm btn-success">Add Filter</button>
                        </div>
                    </div>
                    </form>
            </div>
        </div>
    </div>

    <div class="col-md-9">
        <!--
        <div class="panel panel-primary">
            <div class="panel-heading">
                Data Vizualizer
            </div>
            <div class="panel-body">
                <div id="chart" class="grid"></div>
            </div>
        </div>
        -->
        <div class="panel panel-primary">
            <div class="panel-heading">
                Data Browser
            </div>
            <div class="panel-body">
                <div id="grid" class="grid"></div>
            </div>
        </div>
    </div>
</div>

<script>
    var metas = [];
    var columns = [];
    var dsgrid;

    model.lastingestion = ko.observable(new Date(5000,1,1));
    $(document).ready(function(){
       getTableList()
    })

    function getTableList(){
        ajaxPost("{{BaseUrl}}rest/tables",
        {},
        function(result){
            if(result.Status=="OK"){
                metas = result.Data;
                var names = [];
                result.Data.forEach(function(d){
                    names.push(d._id);
                })

                $("#tables").kendoDropDownList({
                    dataSource: {data: names},
                    change: function(e){
                        selected = this.value();
                        changeTable(selected);
                    }
                });

                changeTable(names[0]);
            }
        });
    }

    function changeTable(tableid){
        var model, found=false;

        metas.forEach(function(m){
            if(m._id==tableid){
                model=m.model;
                found=true;
            }
        })

        if(found){
            columns = [];
            model.forEach(function(f,i){
                //if(i<10){

                    ftitle = f.name
                    if(f.description!=undefined && f.description!="" && f.description!=0)
                        ftitle = f.description;

                    if(f.fieldtype.indexOf("int")>=0 || f.fieldtype.indexOf("decimal")>0){
                        columns.push({
                            field:f.name,
                            title:ftitle,
                            width:80,
                            attributes:{
                                style:"text-align:right"
                            }
                        });
                    }else{
                        columns.push({
                            field:f.name,
                            title:ftitle,
                            width:120
                        });
                    }
                //}
            });

            $("#grid").html("");
            if($("#grid").data("kendoGrid")!=undefined){
                $("#grid").data("kendoGrid").destroy();
            }
           
            dsgrid = new kendo.data.DataSource({
                transport:{
                    read:{
                        url:"{{BaseUrl}}rest/data?table=" + tableid,
                        dataType:"json"
                    }
                },
                schema:{
                    data:"Data.data",
                    total:"Data.count"
                },
                serverPaging: true,
                serverSorting: true,
                pageSize: 10
            });
            
            $("#grid").kendoGrid({
                dataSource:dsgrid,
                pageable:true,
                //height: 543,
                columns:columns});
        }
    }
    
    //icheck = 0;
    function checkStream(){
        ajaxPost("{{BaseUrl}}dashboard/getsum",
        {},
        function(result){
            if(result.Status!="OK"){
                dsData = []
            } else {
                model.lastingestion(result.Data.lastingestion);
                dsData = result.Data.costsum;
            }
            
            $("#gridstream").data("kendoGrid").setDataSource(new kendo.data.DataSource({
                data: dsData
            }));
            window.setTimeout(checkStream,10000);    
        });
    }
    
    function makeChartConfig(series){
        var config= {
            dataSource: ecDs(),
            seriesDefaults: {
                type: "column"
            },
            chartArea:{
                //width:320,
                height:123  
            },
            categoryAxis: {
                field: "_id.skuid",
                labels: {
                    visible:true,
                    font:"8px calibri",
                    rotation: -90
                },
                crosshair: {
                    visible: true
                },
                majorGridLines:{
                    visible:false
                },
                minorGridLines:{
                    visible:false
                }
            },
            valueAxis: {
                labels: {
                    format: "N2",
                    font:"8px calibri"
                },
                //,
                //majorUnit: 10000
            },
            tooltip: {
                visible: true,
                shared: true,
                format: "N1"
            },
            series: series
         };
         return config;
    }
    
    function checkChart(){
        ajaxPost("{{BaseUrl}}dashboard/getbysku",
        {},
        function(result){
            if(result.Status!="OK"){
                dsData = []
            } else {
                model.lastingestion(result.Data.lastingestion);
                dsData = result.Data.cost;
            }
            
            $("#chartpower").data("kendoChart").setDataSource(new kendo.data.DataSource({
                data: dsData
            }));
            
            $("#charttime").data("kendoChart").setDataSource(new kendo.data.DataSource({
                data: dsData
            }));
            
            $("#chartspeed").data("kendoChart").setDataSource(new kendo.data.DataSource({
                data: dsData
            }));
            //window.setTimeout(checkChart,3000);    
        });
    }
</script>